// Place all the styles related to the Titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

input[type=submit] {
  float: right;
  padding: 8px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}


h3 {
  color: #66757F;
}

p {
  margin: 0;
}

span {
  font-weight: bold;
}

#top-nav {
  position: fixed;
  background: black;
  height: 150px;
  width: 100%;
  min-width: 768px;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 2;
}

#brand {
  text-align: center;
  line-height: 50px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: white;
  display: inline-block;
}

#search {
  position: relative;
  bottom: 10px;
  border-radius: 24px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 36px;
  font-size: 14px;
  background-color: white;
}

#button{
  position: relative;
  height: 30px;
  bottom: 8px;
  right: 135px;
  width: 30px;
  border-radius: 24px;
  background-color: #f2f2f2;
  padding-right: 36px;
  font-size: 14px;
  outline: none;
  font-weight: bold;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 24px;
}

.container {
  position: relative;
  margin: 70px auto;
  width: 768px;
  padding: 100px 20px 20px 20px;
  background-color: white;
  min-height: 900px;
}

.title{
  text-align: right;
}

.movie-info p {
  line-height: 1.25em;
}

.results {
  padding-left: 30px;
}

.individual-listing {
  height: 320px; 
  width: 180px;
  padding: 10px 20px 10px;
  vertical-align: top;
}

.result-img {
  height: 250px;
  width: 167px;
  display: inline-block;
}

.listing-info {
  vertical-align: top;
  margin-bottom: 5px;
}

.listing-info a {
  color: #0340ba;
  text-decoration: none;
  font-weight: bold;
}